<section *wsIsAuthenticated>
  <ws-courses-search-section (onSearch)="onFilter($event)"></ws-courses-search-section>

  <ul class="courses-list" *ngIf="isCoursesExist; else emptyState">
    <li
      class="courses-list__item"
      *ngFor="let course of coursesFiltered || [] | orderBy: 'creationDate'"
    >
      <ws-course-item (remove)="onRemove($event)" [course]="course"></ws-course-item>
    </li>
    <span class="courses-list__load-more">
      <button class="btn">Load More</button>
    </span>
  </ul>

  <ng-template class="courses-list" #emptyState>
    <span class="courses-list__load-more">
      <strong>{{ emptyMsg | uppercase }}</strong>
    </span>
  </ng-template>
</section>
