<section>
  <header class="courses-list__header">
    <h2>{{ title | uppercase }}</h2>
    <button mat-raised-button color="primary" (click)="openModal('new')">
      + Course
    </button>
  </header>

  <mat-table
    #tableElement
    [dataSource]="table.rows"
    class="mat-elevation-z8 courses-list__table"
    matSort
  >
    <app-course-item
      [isAdmin]="isAdmin"
      [openModal]="openModal"
      [tableColumns]="table.columns"
    ></app-course-item>
  </mat-table>
</section>
