@import 'variables.scss';

.breadcrumbs {
  width: 84%;
  padding: 1.5rem;
  background: $white;
  margin: 0 auto;

  & strong {
    color: $blue-dark;
    font-size: 1.2rem;
    font-weight: 900;
  }

}
