@import 'styles.scss';

.breadcrumbs {
  background: $white;
  @extend .p-3, .px-md-5;

  &-container {
    @extend .px-2, .px-md-4;

    &__route {
      @extend .mx-md-4, .mx-lg-5;

      color: $blue-dark;
      font-size: 1.2rem;
      font-weight: 900;
    }
  }
}
