<section class="course-add-edit">
  <form class="course-add-edit-card">
    <h3 class="mb-4">{{ action?.title }}</h3>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
        />
      </div>
      <div class="col-md-12 mb-3">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="6"
          required
        ></textarea>
      </div>
      <div class="col-md-4 mb-3">
        <ws-duration-input></ws-duration-input>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <ws-date-input></ws-date-input>
      </div>
      <div class="col-md-6 mb-3">
        <ws-tags-input label="Authors">
        </ws-tags-input>
      </div>
    </div>
    <span class="d-flex justify-content-end">
      <a class="btn text-muted mx-3 border" routerLink="/courses">
        Cancel
      </a>
      <button class="btn btn-success" type="submit" (click)="onSubmit()">
        {{ action?.submit }}
      </button>
    </span>
  </form>
</section>
<p>course-add-edit works!</p>
