<section class="course-add-edit">
  <form class="course-add-edit-card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3 class="mb-4">{{ action.title | translate }}</h3>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="title">
          {{ "ws.courses.add_edit.name" | translate }}
        </label>
        <input
          id="title"
          name="title"
          type="text"
          class="form-control"
          formControlName="name"
        />
        <ws-input-error
          [control]="name"
          [errors]="{
            required: 'ws.courses.add_edit.errors.name.required',
            maxlength: 'ws.courses.add_edit.errors.name.length'
          }"
        ></ws-input-error>
      </div>
      <div class="col-md-12 mb-3">
        <label for="description">{{
          "ws.courses.add_edit.description" | translate
        }}</label>
        <textarea
          id="description"
          name="description"
          class="form-control"
          rows="6"
          formControlName="description"
        ></textarea>
        <ws-input-error
          [control]="description"
          [errors]="{
            required: 'ws.courses.add_edit.errors.description.required',
            maxlength: 'ws.courses.add_edit.errors.description.length'
          }"
        ></ws-input-error>
      </div>
      <div class="col-md-4 mb-3">
        <ws-duration-input
          label="ws.courses.add_edit.length"
          [form]="form"
          control="length"
        >
        </ws-duration-input>
        <br />
        <ws-input-error
          [control]="length"
          [errors]="{
            required: 'ws.courses.add_edit.errors.duration.required',
            min: 'ws.courses.add_edit.errors.duration.min'
          }"
        ></ws-input-error>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <ws-date-input
          label="ws.courses.add_edit.date"
          [form]="form"
          control="date"
        >
        </ws-date-input>
        <ws-input-error
          [control]="date"
          [errors]="{ required: 'ws.courses.add_edit.errors.date.required' }"
        ></ws-input-error>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <ws-tags-input
          label="ws.courses.add_edit.authors"
          [options]="authorsOptions"
          [selectedOptions]="authorsSelected"
          [form]="form"
          control="authors"
        ></ws-tags-input>
        <ws-input-error
          [control]="authors"
          [errors]="{ required: 'ws.courses.add_edit.errors.authors.required' }"
        ></ws-input-error>
      </div>
    </div>
    <span class="d-flex justify-content-end">
      <a class="btn text-muted mx-3 border" routerLink="/courses">
        {{ "ws.courses.add_edit.cancel" | translate }}
      </a>
      <button class="btn btn-success" type="submit" [disabled]="form.invalid">
        {{ action.submit | translate }}
      </button>
    </span>
  </form>
</section>
