.courses-table {
  width: 100%;
}

// .mat-column-position {
//   width: 2rem;
//   border-right: 1px solid currentColor;
//   padding-right: 24px;
//   text-align: center;
// }

.mat-column-title {
  padding: 0rem 2rem;
  font-size: 1.1rem;
}

.mat-column-actions {
  padding-left: 4rem;
}

.mat-column-price {
  font-style: italic;
}
