@import '../../../variables.scss';

.courses-list {
  &__item {
    margin: 1rem;
  }

  &__load-more {
    @extend .courses-list__item;

    display: flex;
    justify-content: center;
    padding: 0.5rem;

    background-color: $white;
    border-radius: 1rem;

    & button {
      all: unset;
      text-decoration: underline;
      color: $blue;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
