<section>
  <mat-table
    #tableElement
    [dataSource]="table.rows"
    class="mat-elevation-z8 courses-table"
    matSort
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef hidden="true">ID</th>
      <td mat-cell *matCellDef="let course" hidden="true">{{ course.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let course">{{ course.title }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let course">{{ course.price | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="mat-column-actions" *matHeaderCellDef> Actions </th>
      <td mat-cell class="mat-column-actions" *matCellDef="let course">
        <mat-icon (click)="openModal(course.id)">info_outline</mat-icon>
        <mat-icon *ngIf="admin">more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="table.columns"></tr>
    <tr mat-row *matRowDef="let row; columns: table.columns"></tr>
  </mat-table>
</section>
