<header class="header">
  <div class="header-content">
    <span class="d-flex align-items-center">
      <ws-logo> </ws-logo>
      <h2 class="header-content__title">
        {{ title }}
      </h2>
    </span>
    <span *wsIsAuthenticated>
      <button class="btn btn-sm btn-outline-light border-0">
        <i class="bi bi-person-fill"></i>
        {{ displayName }}
      </button>
      <button
        class="btn btn-sm btn-outline-light border-0"
        (click)="onLogout()">
        <i class="bi bi-box-arrow-left"></i>
        Log out
      </button>
    </span>
  </div>
</header>
