@import 'variables.scss';

.header {
  background: $blue-dark;
  color: $white;
  font-size: 14px;
  text-align: left;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
  }
}
