@import 'styles.scss';

.header {
  background: $blue-dark;
  color: $white;
  font-size: 14px;
  text-align: left;
  padding: 2%;
  @extend .px-md-4, .px-lg-5;

  &-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0;

    @extend .mx-md-5, .navbar, .navbar-expand-md;

    &__options {
      justify-content: end;
      align-items: center;

      @extend .navbar-collapse;
    }
  }
}
