<header class="header">

    <nav class="header-bar">

      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <ws-logo></ws-logo>
        </a>

        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarHeader"
          aria-controls="navbarHeader"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="toggleCollapsed()"
        >
          <i class="bi bi-list text-white h1"></i>
        </button>

        <div
          id="navbarHeader"
          class="header-bar__options"
          [ngClass]="{collapse: collapsed}">
            <ws-lang-selector></ws-lang-selector>
            <ws-session-panel [isDesk]="isDesk"></ws-session-panel>
        </div>
      </div>
    </nav>

</header>
