@import 'variables.scss';

.header {
  background: $blue-dark;
  padding: .5rem;
  padding-right: 2.5rem;
  color: $white;
  font-size: 14px;
  text-align: left;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;

    &__title {
      color: $white;
      font-size: 1.2rem;
      text-align: left;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
