<header class="header">
  <div class="header-content">
    <span class="d-flex align-items-center">
      <ws-logo> </ws-logo>
      <h2 class="header-content__title">
        {{ title }}
      </h2>
    </span>
    <span *wsIsAuthenticated>
      <button
        class="btn btn-sm btn-outline-light border-0"
        *ngIf="userName">
        <i class="bi bi-person-fill"></i>
        {{ username }}
      </button>
      <button
        class="btn btn-sm btn-outline-light border-0"
        (click)="onLogout()">
        <i class="bi bi-box-arrow-left"></i>
        Log out
      </button>
    </span>

    <span *wsIsAuthenticated="false">
      <a
        routerLink="/login"
        class="btn btn-sm btn-outline-light border-0"
        (click)="onLogout()">
        <i class="bi bi-box-arrow-in-right mr-1"></i>
        Log In
      </a>
    </span>
  </div>
</header>
