<section [class.d-flex]="isDesk" [class.align-items-center]="isDesk">
  <div *wsIsAuthenticated
    [ngClass]="isDesk ? 'session-panel__option' : 'session-panel__option-sm'">
    <i class="bi bi-person-fill"></i>
    {{ username || ''}}
  </div>

  <button
    *wsIsAuthenticated
    class="session-panel__button"
    [ngClass]="isDesk ? 'session-panel__option' : 'session-panel__option-sm'"
    (click)="onLogout()"
    >
    <i class="bi bi-box-arrow-left"></i>
    {{ "ws.header.logout" | translate }}
  </button>

  <a
    *wsIsAuthenticated="false"
    routerLink="/login"
    class="session-panel__button"
    [ngClass]="isDesk ? 'session-panel__option' : 'session-panel__option-sm'"
  >
    <i class="bi bi-box-arrow-in-right"></i>
    {{ "ws.header.login" | translate }}
  </a>
</section>
