<section [class.d-flex]="mdSize" [class.align-items-center]="mdSize">
  <span *wsIsAuthenticated class="mx-3">
    <p *ngIf="userName">
      <i class="bi bi-person-fill"></i>
      {{ username }}
    </p>
  </span>

  <button
    *wsIsAuthenticated
    class="btn btn-sm btn-outline-light border-0"
    (click)="onLogout()"
  >
    <i class="bi bi-box-arrow-left"></i>
    {{ "ws.header.logout" | translate }}
  </button>

  <span *wsIsAuthenticated="false">
    <a
      routerLink="/login"
      class="btn btn-sm btn-outline-light border-0"
      (click)="onLogout()"
    >
      <i class="bi bi-box-arrow-in-right mr-1"></i>
      {{ "ws.header.login" | translate }}
    </a>
  </span>
</section>
