<section class="courses-modal">
  <form [formGroup]="form" class="courses-modal-form">
    <mat-form-field class="courses-modal-form__field">
      <h3>
        <input matInput formControlName="title" type="text" />
      </h3>
      <mat-icon *ngIf="editable">edit_outline</mat-icon>
    </mat-form-field>

    <mat-form-field class="courses-modal-form__field">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        rows="4"
        cols="50"
      ></textarea>
    </mat-form-field>

    <span class="courses-modal-form__field">
      <mat-form-field class="courses-modal-form__field--small">
        <mat-label>Price</mat-label>
        <input
          matInput
          formControlName="price"
          [value]="form.get('price')?.value | currency"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="courses-modal-form__field--small">
        <mat-label>Hours</mat-label>
        <input matInput formControlName="hours" type="number" />
      </mat-form-field>
    </span>
  </form>
</section>
