<mat-list-item>
  <span matListItemTitle>{{ course.title }}</span>
  <span matListItemLine>{{ course.price | currency }}</span>

  <span matListItemLine>
    <mat-icon
      *ngIf="!isAdmin; else courseMenu"
      (click)="openModal('detail', course.id)"
    >
      info_outline
    </mat-icon>
    <ng-template #courseMenu>
      <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openModal('detail', course.id)">
          Detail
        </button>
        <button mat-menu-item (click)="openModal('edit', course.id)">
          Edit
        </button>
        <button mat-menu-item (click)="openModal('remove', course.id)">
          Remove
        </button>
      </mat-menu>
    </ng-template>
  </span>
</mat-list-item>
