<section *ngIf="course" class="course-item" [wsDateHihglight]="course">
  <div class="course-item__content">
    <span class="d-flex">
      <h3>
        {{ course.name | uppercase }}
      </h3>
      <i
        class="text-warning m-1 mx-3 bi"
        [ngClass]="course.topRated ? 'bi-star-fill' : 'bi-star'"
      >
      </i>
    </span>
    <p>
      {{ course.description }}
    </p>
  </div>

  <div class="course-item-column">

    <div class="course-item-column__details">
      <div class="course-item-column__label">
        <i class="bi bi-clock mr-2"></i>
        <p>{{ course.length | duration }}</p>
      </div>
      <div class="course-item-column__label">
        <i class="bi bi-calendar mr-2"></i>
        <p>{{ course.date | date : "MMM d, YYYY" : undefined : locale.locale }}</p>
      </div>
    </div>

    <span class="course-item-column__actions">
      <a [routerLink]="'/courses/'+course.id" class="btn btn-sm btn-primary">
        <i class="bi bi-pencil-fill"></i>
        {{ "ws.courses.item.edit" | translate }}
      </a>

      <button (click)="onRemove()" class="course-item__button">
        <i class="bi bi-trash-fill"></i>
        {{ "ws.courses.item.delete" | translate }}
      </button>
    </span>
  </div>
</section>
