<section *ngIf="course" class="course-item" [wsDateHihglight]="course">
  <div class="course-item__content">
    <span class="d-flex">
      <h3>
        {{ course.name | uppercase }}
      </h3>
      <i
        class="text-warning m-1 mx-3 bi"
        [ngClass]="course.topRated ? 'bi-star-fill' : 'bi-star'"
      >
      </i>
    </span>
    <p>
      {{ course.description }}
    </p>
  </div>

  <div class="course-item__column">
    <span class="course-item__details">
      <span class="d-flex">
        <i class="bi bi-clock"></i>
        <p>{{ course.length | duration }}</p>
      </span>
      <span class="d-flex">
        <i class="bi bi-calendar"></i>
        <p>{{ course.date | date: "MMM d, YYYY" }}</p>
      </span>
    </span>

    <span class="course-item__actions">
      <a [routerLink]="'/courses/'+course.id" class="btn btn-sm btn-primary">
        <i class="bi bi-pencil-fill"></i>
        Edit
      </a>

      <button (click)="onRemove()">
        <i class="bi bi-trash-fill"></i>
        Delete
      </button>
    </span>
  </div>
</section>
