// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import './variables.scss';

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-template-primary,
      accent: $angular-template-accent,
      warn: $angular-template-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

/* You can add global styles to this file, and also import other style files */

// GLOBAL styles
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.88rem;
  color: $gray;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}

p {
  margin: 0;
}

footer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  line-height: 1.25rem;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 48rem) {
  svg#rocket-smoke {
    right: 11.25rem;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 36rem) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.snackbar {
  color: $black;
  text-transform: capitalize;

  &--white {
    @extend .snackbar;
    background: $white;
  }

  &--error {
    @extend .snackbar;
    background: $danger;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--info {
    @extend .snackbar;
    background: $white;
  }

  &--success {
    @extend .snackbar;
    background: $green;
    color: $white;
  }
}


// AppComponent Styles
.app {
  &__spacer {
    flex: 1;
  }

  &__toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3.75rem;
    display: flex;
    align-items: center;
    background-color: $primary;
    color: $white;
    font-weight: 600;
  }

  &__toolbar img {
    margin: 0 1rem;
  }
}
