@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-template-primary: mat.define-palette(mat.$red-palette, 300, 400, 500);
$angular-template-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-template-warn: mat.define-palette(mat.$red-palette, A700);


$primary: map_get($angular-template-primary, 500);
$secondary: map_get($angular-template-primary, A100);
$accent: map_get($angular-template-primary, A200);
$warn: map_get($angular-template-warn, A700);
$danger: map_get($angular-template-warn, A700);;

$black: #121212;
$white: #F5F6FB;
$gray: #808080;
