@import './styles.scss';

$primary: $angular-template-primary;
$secondary: $angular-template-accent;
$accent: $angular-template-accent;
$warn: $angular-template-accent;
$danger: $angular-template-warn;

$black: #121212;
$white: #F5F6FB;
$gray: #808080;
