@import '../../variables.scss';

.home {
  &__link {
    cursor: pointer;
  }
  &__content {
    display: flex;
    margin: 5.125rem auto 2rem;
    padding: 0 1rem;
    max-width: 60rem;
    flex-direction: column;
    align-items: center;

    & main{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      line-height: 3.125rem;
    }
  }
}
