<section class="home__content">
  <main role="main">
    <span>
      <b>{{ appName }}</b>
    </span>
    <button
      mat-mini-fab
      color="accent"
      (click)="showAppName()"
      [disabled]="!init"
    >
      <mat-icon>visibility</mat-icon>
    </button>
  </main>

  <nav class="menu">
    <ul>
      <li>
        <a mat-button color="link" [routerLink]="routes.courses"> Courses </a>
      </li>
      <li>
        <a mat-button color="link" [routerLink]="'#'">Users</a>
      </li>
      <li>
        <a mat-button color="link" [routerLink]="'#'">Students</a>
      </li>
    </ul>
  </nav>
</section>
