<section class="login-page">
  <div class="login-page-card">
    <div class="card-body">
      <h4 class="card-title">{{ "ws.login_page.title" | translate }}</h4>

      <form class="login-page-form" [formGroup]="form" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="username"
            >{{ "ws.login_page.username" | translate }}:</label
          >
          <input
            id="username"
            name="username"
            type="username"
            class="form-control"
            placeholder="Enter username"
            formControlName="login"
          />
          <ws-input-error
            [control]="form.get('login')"
            [errors]="{ required: 'ws.login_page.errors.username_required' }"
          ></ws-input-error>
        </div>
        <div class="form-group">
          <label for="psswd">{{ "ws.login_page.password" | translate }}:</label>
          <input
            id="psswd"
            name="psswd"
            type="password"
            placeholder="Enter Password"
            class="form-control"
            formControlName="password"
          />
          <ws-input-error
            [control]="form.get('password')"
            [errors]="{ required: 'ws.login_page.errors.password_required' }"
          ></ws-input-error>
        </div>

        <div class="form-group login-page-form-actions">
          <a href="#">{{ "ws.login_page.forgot_password" | translate }}</a>
          <button type="submit" class="btn btn-primary">
            {{ "ws.login_page.submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
